-i https://pypi.org/simple

Django==6.1
djangorestframework==3.18.0
gunicorn==26.2.0

fastembed==0.7.4

numpy==2.5.2
pandas==3.0.5
scikit-learn==1.9.0
scipy==1.18.1
joblib==1.6.0

psycopg[binary]==3.3.5
python-dotenv==1.2.3

python-dateutil==2.9.0.post0
PyYAML==6.0.3